#container{

    padding: clamp(40px, 1vw, 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;

}

.middle{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: clamp(28px, 1vw, 40px);


}

input{
    
    border: 2px solid #d7d7d7;
    border-radius: 4px;
    padding: clamp(6px, 1vw, 8px);

}

input:hover{
    border: 2px solid #483db3;

}

input:active{
    border: 2px solid #483db3;

}

button{
    width: 60%;
    border-radius: 12px;
    background-color: black;
    color: white;
    border: 0px;
    padding: clamp(4px, 1vw, 8px);

}

button:hover{
    cursor: pointer
}